# Understanding Patterns of Violence and Mortality Among Transgender Individuals: A Global Data Analysis

## Research Hypothesis
Violence-related deaths among transgender individuals disproportionately affect victims in certain regions and younger age groups.

## Import Data & Libraries

In [1]:
%pip install pandas numpy seaborn matplotlib

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.11/site-packages (1.26.4)
Requirement already satisfied: seaborn in /opt/anaconda3/lib/python3.11/site-packages (0.12.2)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.11/site-packages (3.9.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
tdor_data = pd.read_excel('/Users/mari/Desktop/Github/tdorvictimanalysis/data/tdor_export_dataremoved.xlsx')
tdor_data.head()

,Name,Age,Birthdate,Date,Location,Country,Country Code,Latitude,Longitude,Category,Cause of death
0,victim_1,NaN,NaT,2024-10-01,"Tehuantepec, Oaxaca",Mexico,MX,16.373642,-95.156654,violence,tortured
1,victim_2,37,NaT,2024-10-02,"Rochester, New York",USA,US,43.164623,-77.634507,violence,run over
2,victim_3,54,1970-04-24,2024-10-03,"Omaha, Nebraska",USA,US,41.291959,-96.163649,suicide,suicide
3,victim_4,37,NaT,2024-10-07,"Darwin, Northern Territory",Australia,AU,-12.393293,130.893692,violence,stabbed
4,victim_5,52,1972-01-25,2024-10-08,"Vantaa, Uusimaa",Finland,FI,60.319199,24.887388,suicide,suicide

In [5]:
tdor_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            365 non-null    object
 1   Age             248 non-null    object
 2   Birthdate       40 non-null     datetime64[ns]
 3   Date            365 non-null    datetime64[ns]
 4   Location        362 non-null    object
 5   Country         365 non-null    object
 6   Country Code    365 non-null    object
 7   Latitude        365 non-null    float64
 8   Longitude       365 non-null    float64
 9   Category        365 non-null    object
 10  Cause of death  365 non-null    object
dtypes: datetime64[ns](2), float64(2), object(7)
memory usage: 31.5+ KB

In [9]:
tdor_data.iloc[90:100]

,Name,Age,Birthdate,Date,Location,Country,Country Code,Latitude,Longitude,Category,Cause of death
90,victim_91,32,NaT,2024-12-25,"Dijkot, Punjab",Pakistan,PK,31.216414,72.986008,violence,strangled
91,victim_92,21,NaT,2024-12-25,"Cabo de Santo Agostinho, Pernambuco",Brazil,BR,-8.280901,-35.243497,violence,stabbed
92,victim_93,32,1992-05-27,2024-12-27,"Portland, Oregon",USA,US,45.542836,-122.819196,suicide,suicide
93,victim_94,NaN,NaT,2024-12-29,"Varanasi, Uttar Praddesh",India,IN,25.574686,83.529996,violence,shot
94,victim_95,30,NaT,2024-12-29,"Manaus, Amazonas",Brazil,BR,-3.000055,-59.995334,violence,strangled
95,victim_96,NaN,NaT,2024-12-29,"Teresina, Piauí",Brazil,BR,-4.987998,-42.845122,violence,shot
96,victim_97,22,NaT,2024-12-29,"Quilmes Oeste, Buenos Aires",Argentina,AR,-34.721631,-58.241061,violence,throat cut
97,victim_98,50,NaT,2024-12-31,"Medellín, Antioquia",Colombia,CO,6.307674,-75.556347,violence,stabbed
98,victim_99,NaN,NaT,2024-12-31,São Paulo,Brazil,BR,-23.681435,-46.924958,violence,shot
99,victim_100,29,1995-07-06,2024-12-31,"Seattle, Washington",USA,US,47.614089,-122.320790,violence,shot

In [10]:
tdor_data.describe()

,Birthdate,Date,Latitude,Longitude
count,40,365,365.000000,365.000000
mean,1992-08-20 01:12:00,2025-04-07 04:36:09.863013632,15.223244,-36.848904
min,1959-12-22 00:00:00,2024-10-01 00:00:00,-38.698966,-123.806871
25%,1984-12-11 00:00:00,2024-12-25 00:00:00,-3.686791,-84.218899
50%,1995-05-26 12:00:00,2025-04-16 00:00:00,18.524871,-57.491604
75%,2001-10-15 18:00:00,2025-07-14 00:00:00,34.168326,-1.213119
max,2025-08-12 00:00:00,2025-09-29 00:00:00,60.319199,177.435431
std,NaN,NaN,23.147245,67.719046

In [15]:
tdor_data.sort_values(by= 'Date', inplace=True)
tdor_data.head(10)

,Name,Age,Birthdate,Date,Location,Country,Country Code,Latitude,Longitude,Category,Cause of death
0,victim_1,NaN,NaT,2024-10-01,"Tehuantepec, Oaxaca",Mexico,MX,16.373642,-95.156654,violence,tortured
1,victim_2,37,NaT,2024-10-02,"Rochester, New York",USA,US,43.164623,-77.634507,violence,run over
2,victim_3,54,1970-04-24,2024-10-03,"Omaha, Nebraska",USA,US,41.291959,-96.163649,suicide,suicide
3,victim_4,37,NaT,2024-10-07,"Darwin, Northern Territory",Australia,AU,-12.393293,130.893692,violence,stabbed
4,victim_5,52,1972-01-25,2024-10-08,"Vantaa, Uusimaa",Finland,FI,60.319199,24.887388,suicide,suicide
5,victim_6,20,NaT,2024-10-09,"Pamplona, Navarre",Spain,ES,42.824319,-1.650740,violence,stabbed
6,victim_7,22,2002-01-25,2024-10-09,"Miami, Florida",USA,US,25.782545,-80.307796,suicide,suicide
7,victim_8,38,NaT,2024-10-10,"Ensenada, Buenos Aires",Argentina,AR,-34.847834,-57.922954,violence,beaten
8,victim_9,35-40,NaT,2024-10-10,"Bhokarden, Maharashtra",India,IN,20.223699,75.740331,violence,throat cut
9,victim_10,45-50,NaT,2024-10-10,Tamaulipas,Mexico,MX,24.924741,-101.284862,violence,beaten

## Research Questions
### What is the global geographic distribution of transgender victim deaths?
- Which countries/regions report the most deaths?
- Are there clusters based on latitude/longitude?
- Are certain continents or country-income levels more affected?

### What proportion of deaths are violence-related vs. suicide vs. other categories?
- Is “violence” the dominant cause?
- Does cause-of-death distribution vary by country?

### What is the age distribution among victims?
- Are victims typically young adults?
- Are there differences across categories of death?

### Is there a temporal pattern in deaths?
- Monthly or seasonal spikes?
- Increasing or decreasing trend over time?
- Are violent deaths more common at certain times of the year?

### Are there relationships between age, geographic location, and cause of death?
- Are younger victims more likely to experience violence?
- Are suicides more common in certain countries?